//- NOTE: hide/show references are commented out until we integrate those functions
#end(ng-hide='!showEnd')
  //- .ng-hide(ng-show='gameOver')
  //- include "game over" splat here
  .row
    .col
      h1.title Game Over!
  .row
    .col
      h3 Level {{game.currentLevel}}
    .col
      h3 {{game.score}} points
  .row
    .col
      h5.title Share
        #share.addthis_sharing_toolbox
    .col
      button.button.icon-left.ion-checkmark.button-small.button-positive(ng-click='done()') &nbsp; Done

  script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5447e4ad416c2d80', async='async')
