#end(ng-hide='!showEnd')
  //-img(src='img/gameoverSplat/sml_splat.png', alt='splat')
  .row
    .col
      h1.title Game Over!
  .row
    .col
      h1.subtitle Level {{game.currentLevel + 1}}
    .col
      h1.subtitle {{game.score}} points
  .row.row-top
    .col
      ul.share-buttons
        li
          a(href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgithub.com%2FABarnhard%2Fchromagic&t=I"m%20chromagical!', target='_blank')
            img(src='img/social/Facebook-64.png')
        li
          a(href='https://twitter.com/intent/tweet?source=https%3A%2F%2Fgithub.com%2FABarnhard%2Fchromagic&text=I"m%20chromagical!:%20https%3A%2F%2Fgithub.com%2FABarnhard%2Fchromagic&via=chromagic', target='_blank', title='Tweet')
            img(src='img/social/Twitter-64.png')
        li
          a(href='https://plus.google.com/share?url=https%3A%2F%2Fgithub.com%2FABarnhard%2Fchromagic', target='_blank', title='Share on Google+')
            img(src='img/social/Google-64.png')
  .row
    .col
      button#playAgain.button.icon-right.ion-arrow-return-left.button-full.button-positive(ng-click='done()') &nbsp; Play again


  script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5447e4ad416c2d80', async='async')
