//- NOTE: hide/show & onHold references are commented out until we integrate those functions
#game(ng-hide='!showGame')
  #control-l
    button.button.red(on-touch='updateBar(5)', on-release='updateBar(-5)')
    button.button.purple(on-touch='updateBar(16)', on-release='updateBar(-16)')
    button.button.blue(on-touch='updateBar(11)', on-release='updateBar(-11)')
  #canvasContainer
    canvas#canvas
  #control-r
    button.button.green(on-touch='updateBar(18)', on-release='updateBar(-18)')
    button.button.yellow(on-touch='updateBar(7)', on-release='updateBar(-7)')
    button.button.orange(on-touch='updateBar(12)', on-release='updateBar(-12)')
