//- NOTE: hide/show references are commented out until we integrate those functions
#levelup(ng-hide='!showLevel')
  //- .ng-hide(ng-show='levelUp')
  .row
    .col
      h1.title Level # {{game.currentLevel}} Complete!
      //- insert trophy badge here
      h1#trophy.i.icon.ion-trophy
      //- img(href='')
      button.button.icon-right.ion-play.button-large.button-balanced(ng-click='nextLevel(10, 1, game.score)') Continue &nbsp;
