//- NOTE: hide/show references are commented out until we integrate those functions
#start(ng-hide='!showStart', style='width:{{width}}px; height:{{height}}px;')
  //- .ng-show(ng-hide='!gameStart')
  .row
    .col
      h1.title Chromagic

  .row
    //- need to center this button!
    .col.col-25
    .col.col-50
      button.button.icon-right.ion-wand.button-balanced(ng-click='gameStart(10)') Work your magic!
    .col.col-25
