#start(ng-hide='!showStart', style='width:{{width}}px; height:{{height}}px;')
  .row
    .col
      h1.title Chromagical

  .row
    .col
      button.button.icon-right.ion-wand.button-balanced.button-block#start-btn(ng-click='gameStart(10)') Work your magic!
      p.lead.center Can you match the colors as they fall down?
      h5.subtitle.slide-in-up.center Flex Your Hue Muscles!
