<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.chromagic927207" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>chromagical</name>
  <description>
    An amazing color matching game for your mobile phone
  </description>
  <author email="admbarn@gmail.com" href="http://adambarnhard.com/">
    Team Chromagical
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
