<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Chromagic</title>
    <link href="css/ionic.app.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/angular-touch/angular-touch.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
    <script src="js/main_controller.js"></script>
    <script src="js/asset.js"></script>
    <script src="js/bar.js"></script>
    <script src="js/bloop.js"></script>
    <script src="js/drop.js"></script>
    <script src="js/splat.js"></script>
    <script src="js/game.js"></script>
  </head>
  <body data-ng-app="chromagic" data-ng-controller="MainCtrl">
    <ion-pane>
      <ion-content>
        <div id="start" ng-hide="!showStart" style="width:{{width}}px; height:{{height}}px;">
          <div class="row">
            <div class="col">
              <h1 class="title">Chromagic</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button id="start-btn" ng-click="gameStart(10)" class="button icon-right ion-wand button-balanced button-block">Work your magic!</button>
              <p class="lead center">Can you match the colors as they fall down?</p>
              <h5 class="subtitle slide-in-up center">Flex Your Hue Muscles!</h5>
            </div>
          </div>
        </div>
        <div id="game" ng-hide="!showGame">
          <div id="control-l">
            <button on-touch="updateBar(5)" on-release="updateBar(-5)" class="button red"></button>
            <button on-touch="updateBar(16)" on-release="updateBar(-16)" class="button purple"></button>
            <button on-touch="updateBar(11)" on-release="updateBar(-11)" class="button blue"></button>
          </div>
          <div id="canvasContainer">
            <canvas id="canvas"></canvas>
          </div>
          <div id="control-r">
            <button on-touch="updateBar(18)" on-release="updateBar(-18)" class="button green"></button>
            <button on-touch="updateBar(7)" on-release="updateBar(-7)" class="button yellow"></button>
            <button on-touch="updateBar(12)" on-release="updateBar(-12)" class="button orange"></button>
          </div>
        </div>
        <div id="levelup" ng-hide="!showLevel">
          <div class="row">
            <div class="col col25"><img id="trophy" src="img/trophy_200x200.png" alt="trophy"></div>
            <div class="col col75">
              <h1 class="subtitle">Level # {{game.currentLevel}} Complete!</h1>
              <button ng-click="nextLevel(10, 1, game.score)" class="button icon-right ion-play button-large button-balanced button-block">Continue &nbsp;</button>
            </div>
          </div>
        </div>
        <div id="end" ng-hide="!showEnd">
          <div class="row">
            <div class="col">
              <h1 class="title">Game Over!</h1>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h3>Level {{game.currentLevel}}</h3>
            </div>
            <div class="col">
              <h3>{{game.score}} points</h3>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5 class="title">Share:
                <ul class="share-buttons">
                  <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgithub.com%2FABarnhard%2Fchromagic&amp;t=I&quot;m%20chromagical!" target="_blank"><img src="img/social/Facebook-32.png"></a></li>
                  <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fgithub.com%2FABarnhard%2Fchromagic&amp;text=I&quot;m%20chromagical!:%20https%3A%2F%2Fgithub.com%2FABarnhard%2Fchromagic&amp;via=chromagic" target="_blank" title="Tweet"><img src="img/social/Twitter-32.png"></a></li>
                  <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fgithub.com%2FABarnhard%2Fchromagic" target="_blank" title="Share on Google+"><img src="img/social/Google-32.png"></a></li>
                </ul>
              </h5>
            </div>
            <div class="col">
              <button ng-click="done()" class="button icon-left ion-checkmark button-small button-positive">&nbsp; Done</button>
            </div>
          </div>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5447e4ad416c2d80" async="async"></script>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>