@import url(http://fonts.googleapis.com/css?family=Questrial|Wendy+One);

.title {
  font-family: 'Wendy One', sans-serif;
}

body {
  font-family: 'Questrial', sans-serif;
}

h1 {
  text-align: center;
}
