@import url(http://fonts.googleapis.com/css?family=Questrial|Wendy+One);
.pane {
  background-color: #000000;
}
#start {
  background-color: #000000;
}

#canvas {
  background-color: #000000;
}

#game {
  position: relative;
  text-align: center;
}

#game > div {
  display: inline-block;
  height: 100%;
}

#game > #control-l {
  position: absolute;
  background-color: #000000;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  padding: 5px;
}

#game > #control-r {
  position: absolute;
  background-color: #000000;
  right: 0;
  top: 0;
  width: 10%;
  height: 100%;
  padding: 5px;
}

#game > #canvasContainer {
  width: 80%;
}

button.button {
  margin: 5px 0;
  height: 30%;
}
.title {
  font-family: 'Wendy One', sans-serif;
  color: #525151;
  font-size: 5em;
}

body {
  font-family: 'Questrial', sans-serif;
}

h1, h3 {
  text-align: center;
}

.red {
  background-color: #ff0000;
  border: none;
}
.yellow {
  background-color: #ffff00;
  border: none;
}
.blue {
  background-color: #0033ff;
  border: none;
}
.orange {
  background-color: #ff9900;
  border: none;
}
.purple {
  background-color: #990099;
  border: none;
}
.green {
  background-color: #009900;
  border: none;
}
.red-orange {
  background-color: #ff6600;
  border: none;
}
.yellow-orange {
  background-color: #ffcc00;
  border: none;
}
.red-purple {
  background-color: #cc0099;
  border: none;
}
.yellow-green {
  background-color: #66cc00;
  border: none;
}

.share-buttons{
	list-style: none;
}

.share-buttons li{
	display: inline;
}
